const ARCGIS_APIKEY = ""

const KINDERGARDEN_PAINT_PROPS = {
  "circle-radius": 6,
  "circle-color": [
    "match",
    ["get", "min_age"],
    "1", "#D22D2D",
    "3", "#B1D22D",
    "6", "#2DD26F",
    "0", "#2D6FD2",
    "2", "#B12DD2",
    /* default */ "#999999"
  ]
}

const DOCTORS_PAINT_PROPS = {
  "circle-radius": 6,
  "circle-color": [
    "match",
    ["get", "healthcare_speciality"],
    "general", "#D22D2D",
    "orthopaedics", "#D24C2D",
    "ophthalmology", "#D26B2D",
    "otolaryngology", "#D28A2D",
    "paediatrics", "#D2A92D",
    "gynaecology", "#D2C82D",
    "surgery", "#BED22D",
    "psychotherapist;psychology", "#9FD22D",
    "physiotherapy", "#80D22D",
    "dermatology", "#60D22D",
    "urology", "#41D22D",
    "general;naturopathy", "#2DD237",
    "psychology", "#2DD256",
    "pathology", "#2DD275",
    "psychiatry;child_psychiatry;psychotherapist", "#2DD294",
    "plastic_surgery", "#2DD2B3",
    "trauma", "#2DD2D2",
    "diabetology;internal", "#2DB3D2",
    "cardiology", "#2D94D2",
    "radiology;nuclear", "#2D75D2",
    "radiology", "#2D56D2",
    "anaesthetics", "#2D37D2",
    "internal", "#412DD2",
    "neurology", "#602DD2",
    "orthodontics", "#802DD2",
    "general;internal", "#9F2DD2",
    "general;gynaecology;internal;vaccination;cardiology;plastic_surgery;blood_check;emergency;naturopathy;homeopathy", "#BE2DD2",
    "biological_haematology", "#D22DC8",
    "general;internal;vaccination", "#D22DA9",
    "endocrinology", "#D22D8A",
    "dermatology;paediatrics", "#D22D6B",
    "psychiatry", "#D22D4C",
    /* default */ "#999999"
  ]
}

const BUILDINGS_PAINT_PROPS = {
  'fill-extrusion-height': [
    // Evaluate this expression to get the building from 'height' property
    'coalesce', 
    ['*', ['to-number', ['get', 'height']], .1],
    0 
  ],
  'fill-extrusion-base': 0,
  'fill-extrusion-opacity': 0.3,
  'fill-extrusion-color':  [
    "match",
    ["get","building_type"],
    "apartments", "#e6194b",
    "commercial", "#3cb44b",
    "yes", "#ffe119",
    "office", "#4363d8",
    "school", "#f58231",
    "hotel", "#911eb4",
    "university", "#46f0f0",
    "parking", "#f032e6",
    "church", "#bcf60c",
    "government", "#fabebe",
    "carport", "#008080",
    "hospital", "#e6beff",
    "cathedral", "#9a6324",
    "dormitory", "#fffac8",
    "retail", "#800000",
    "museum", "#aaffc3",
    "roof", "#808000",
    "residential", "#ffd8b1",
    "service", "#000075",
    "ship", "#808080",
    "transportation", "#ffffff",
    "theatre", "#000000",
    "garage", "#e6194b",
    "synagogue", "#3cb44b",
    "ruins", "#ffe119",
    "civic", "#4363d8",
    "fire_station", "#f58231",
    "industrial", "#911eb4",
    "warehouse", "#46f0f0",
    "construction", "#f032e6",
    "public", "#bcf60c",
    "religious", "#fabebe",
    "terrace", "#008080",
    "bank", "#e6beff",
    "mosque", "#9a6324",
    "shed", "#fffac8",
    "triumphal_arch", "#800000",
    "toilets", "#aaffc3",
    "house", "#808000",
    "chapel", "#ffd8b1",
    "convent", "#000075",
    "ventilation_shaft", "#808080",
    "pavilion", "#ffffff",
    "college", "#000000",
    "works", "#e6194b",
    "garages", "#3cb44b",
    "train_station", "#ffe119",
    "sports_centre", "#4363d8",
    "boathouse", "#f58231",
    "detached", "#911eb4",
    "collapsed", "#46f0f0",
    "cinema", "#f032e6",
    "stable", "#bcf60c",
    "mansion", "#fabebe",
    "derelict,_uninhabited", "#008080",
    "hut", "#e6beff",
    "kindergarten", "#9a6324",
    "kiosk", "#fffac8",
    "grandstand", "#800000",
    "guardhouse", "#aaffc3",
    "commerical", "#808000",
    "tent", "#ffd8b1", 
    "#cccccc"
  ],
}

export { 
  ARCGIS_APIKEY,
  BUILDINGS_PAINT_PROPS,
  DOCTORS_PAINT_PROPS,
  KINDERGARDEN_PAINT_PROPS
};