html,
body,
#map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #323232;
}

.maplibregl-ctrl-bottom-right {
  margin-left: 50px;
}

#layer-ui{
  position:absolute; 
  top:10px; 
  left:10px; 
  z-index:1; 
  background:white; 
  padding:6px; 
  font-size:13px;
}